   body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #ffffffa4;
      color: #333;
      text-align: center;
      padding: 2rem;
    }



.counter {
    font-size: 1.5 rem;
    margin-bottom: 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      color: #000000;
}

    button {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      background-color: #dab785;
      color: #fff;
    }

   
    .click-upgrades-shop {
      margin: 1rem auto;
      width: 200px;
      background-color: #fff7eb;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  font-family: sans-serif;
}

.hidden {
  display: none;
}


.shop {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: #da7a2c;
  border-radius: 10px;
  border: 3px solid rgb(210, 8, 8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}